.blockItems__item__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer_top__form input, .feedbackForm_bottom__textarea textarea, .feedbackForm_top li input {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #004488;
  width: 100%;
  border: none;
  padding: 15px 20px;
}
.footer_top__form input::placeholder, .feedbackForm_bottom__textarea textarea::placeholder, .feedbackForm_top li input::placeholder {
  color: #179bd7;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

/* HEADER
 * */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
}
.header__nav a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto - Medium", sans-serif;
  color: #231f20;
  padding: 5px 15px;
}
.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__phone {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
}
.header__phone span {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  line-height: 24px;
}
.header__hamburger {
  display: none;
}

.logo {
  max-width: 160px;
}
.logo a {
  display: inline-block;
}

.callback {
  margin-left: 20px;
}
.callback a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  text-decoration: underline;
}

.headerNav_adaptive {
  display: none;
}

/* MAIN PAGE
 * */
.firstScreen__bg {
  margin-bottom: 100px;
  background: #d3f0ff;
}

.firstScreen {
  position: relative;
}
.firstScreen_left {
  width: 50%;
  padding: 80px 0;
}
.firstScreen_left h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #179bd7;
  margin-bottom: 30px;
}
.firstScreen_left h1 span {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto - Black", sans-serif;
  color: #004488;
  text-transform: uppercase;
}
.firstScreen_left p {
  font-size: 20px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #179bd7;
  line-height: 1.2;
}

.cubeParallax__first {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 513px;
  max-width: 45%;
  object-fit: contain;
}
.cubeParallax__second {
  position: absolute;
  top: 5%;
  right: 7%;
  z-index: 2;
  width: 336px;
  max-width: 30%;
  object-fit: contain;
}
.cubeParallax__third {
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 2;
  width: 366px;
  max-width: 33%;
  object-fit: contain;
}

.s_services, .s_solutions, .s_why, .s_feedbackForm, .s_properties, .s_implementation, .s_module, .s_firstScreen_inner {
  margin-bottom: 100px;
}

.s_services {
  z-index: 1;
  position: relative;
}

.services {
  padding-top: 30px;
}

.blockTitle {
  font-size: 54px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
  line-height: 1.3;
  margin-bottom: 20px;
}
.blockTitle_noMargin {
  margin-bottom: 0;
}
.blockTitle span {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

.blockItems {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-between;
}
.blockItems__item {
  width: 33%;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.blockItems__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.blockItems__item__bg {
  background-color: rgba(12, 36, 83, 0.75);
  z-index: 2;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.blockItems__item__bg__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #ffffff;
  position: absolute;
  bottom: 70px;
  left: 70px;
  right: 20px;
  z-index: 3;
  -moz-transition: all 0.1s ease 0.4s;
  -o-transition: all 0.1s ease 0.4s;
  -webkit-transition: all 0.1s ease 0.4s;
  transition: all 0.1s ease 0.4s;
}
.blockItems__item__arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: #f15e22;
  width: 70px;
  height: 70px;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.blockItems__item__arrow img {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.blockItems__item__hover {
  background-color: rgba(0, 92, 163, 0.7);
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.blockItems__item__hover__content {
  z-index: 3;
  padding: 70px;
  opacity: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__hover__content__arrow {
  position: absolute;
  top: 0;
  left: -70px;
  z-index: 3;
  background: #f15e22;
  width: 70px;
  height: 70px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__hover__content__arrow img {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.blockItems__item__hover__content__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}
.blockItems__item__hover__content__text {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
  max-height: 92px;
  overflow: hidden;
}
.blockItems__item__hover__content__link {
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto - Black", sans-serif;
  color: #f15e22;
  text-decoration: none;
  display: inline-block;
}

.blockItems__item:hover .blockItems__item__bg {
  bottom: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item:hover .blockItems__item__bg__title {
  opacity: 0;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.blockItems__item:hover .blockItems__item__hover {
  top: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item:hover .blockItems__item__hover__content {
  opacity: 1;
}
.blockItems__item:hover .blockItems__item__hover__content__arrow {
  left: 0;
  z-index: 3;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.blockItems__item:hover .blockItems__item__arrow {
  bottom: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.solutions__container {
  display: flex;
}
.solutions p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
  margin-bottom: 30px;
}
.solutions_left {
  padding-right: 35px;
  width: 70%;
}
.solutions_left a {
  margin-bottom: 30px;
}
.solutions_left__desc {
  background: #d3f0ff;
  width: 122%;
  padding: 25px 20% 25px 25px;
}
.solutions_left__desc p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  margin-bottom: 0;
}
.solutions_right {
  width: 30%;
  position: relative;
}
.solutions_right img {
  position: absolute;
  bottom: -20px;
  right: 0;
}

@keyframes cubeAnimate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(0, -4.5px);
    transform: translate(2px, -4.5px);
  }
  25% {
    -webkit-transform: translate(0, -5px);
    transform: translate(2px, -5px);
  }
  50% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  70% {
    -webkit-transform: translate(0, 4.5px);
    transform: translate(-2px, 4.5px);
  }
  75% {
    -webkit-transform: translate(0, 5px);
    transform: translate(-2px, 5px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
.cubeAnimate {
  -webkit-animation: cubeAnimate 3s linear infinite both;
  animation: cubeAnimate 3s linear infinite both;
}

.tags {
  margin-bottom: 100px;
}
.tags ul {
  display: flex;
  flex-wrap: wrap;
}
.tags__item {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  padding: 10px 15px;
  background: #d3f0ff;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.tags__content_active {
  display: block;
}
.tags .active {
  background: #f15e22;
  color: #ffffff;
}

.innerTitle {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  margin-bottom: 30px;
}

.btnOrange {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #f15e22;
  border: 2px solid #f15e22;
  padding: 10px 20px;
  display: inline-block;
}

.descItems {
  display: flex;
  flex-wrap: wrap;
}
.descItems__item {
  width: 48%;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.descItems__item:nth-child(odd) {
  margin-right: 4%;
}
.descItems__item__img {
  width: 15%;
  margin-right: 5%;
}
.descItems__item__text {
  width: 80%;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
}

.feedbackForm_top {
  margin-bottom: 20px;
}
.feedbackForm_top ul {
  display: flex;
}
.feedbackForm_top li {
  width: 49%;
}
.feedbackForm_top li:first-child {
  margin-right: 2%;
}
.feedbackForm_top li input {
  background: #d3f0ff;
}
.feedbackForm_bottom ul {
  display: flex;
  margin-bottom: 20px;
}
.feedbackForm_bottom__textarea {
  width: 85%;
  margin-right: 2%;
}
.feedbackForm_bottom__textarea textarea {
  background: #d3f0ff;
  resize: none;
  height: 120px;
  margin-right: 2%;
}
.feedbackForm_bottom__btn {
  width: 13%;
}
.feedbackForm_bottom__btn button {
  background: #f15e22;
  border: none;
  height: 120px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.feedbackForm_bottom__btn button:hover {
  cursor: pointer;
}
.feedbackForm_bottom__btn button img {
  display: block;
  margin: 0 auto 15px;
}
.feedbackForm_bottom__checkbox label {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}
.feedbackForm_bottom__checkbox label a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  text-decoration: underline;
}
.feedbackForm_bottom__checkbox input {
  width: 20px;
  height: 20px;
}

/* FOOTER
 * */
.footer__wrapper .wrapper {
  position: relative;
}
.footer__logo {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: contain;
  object-fit: contain;
}
.footer_top {
  background: #004488;
  padding: 33px 0;
  min-height: 121px;
}
.footer_top__container {
  display: flex;
  align-items: center;
}
.footer_top__text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  width: 40%;
  padding-right: 100px;
}
.footer_top__form {
  width: 40%;
}
.footer_top__form ul {
  display: flex;
}
.footer_top__form li:first-child {
  width: 58%;
  margin-right: 2%;
}
.footer_top__form li:last-child {
  width: 40%;
}
.footer_top__form input {
  width: 100%;
}
.footer_top__form input[type=email] {
  border: 2px solid #ffffff;
  background: #ffffff;
}
.footer_top__form input[type=submit] {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.footer_bottom {
  background: #179bd7;
  padding: 30px 0;
  min-height: 241px;
}
.footer_bottom_left {
  display: flex;
  align-items: center;
}
.footer_bottom_left__contacts {
  width: 40%;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}
.footer_bottom_left__contacts_top {
  align-items: flex-end;
  display: flex;
  margin-bottom: 30px;
}
.footer_bottom_left__contacts_top img {
  padding-right: 30px;
}
.footer_bottom_left__contacts_top__text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.footer_bottom_left__contacts__item {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer_bottom_left__contacts__item i {
  padding-right: 15px;
}
.footer_bottom_left__contacts__item a {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
}
.footer_bottom_left__nav {
  margin-left: 40px;
}
.footer_bottom_left__nav li {
  margin-bottom: 20px;
}
.footer_bottom_left__nav li:last-child {
  margin-bottom: 0;
}
.footer_bottom_left__nav a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: underline;
  display: inline-block;
}
.footer_bottom_right {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #d3f0ff;
}

/* FINANCE
 * */
.staticCube {
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumbs {
  margin-bottom: 20px;
}
.breadcrumbs ul {
  display: flex;
  margin: 0;
}
.breadcrumbs__item {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #86a3ba;
  margin-left: 20px;
  padding: 5px 10px;
  position: relative;
}
.breadcrumbs__item a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #86a3ba;
}
.breadcrumbs__item:first-child {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs__item:first-child:before {
  content: none;
}
.breadcrumbs__item:before {
  content: "/";
  left: -15px;
  position: absolute;
}

.firstScreen__bg_inner {
  margin: 0;
}

.s_firstScreen_inner p {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #004488;
}
.s_firstScreen_inner img {
  max-width: 34%;
}

.firstScreen_left_finance {
  width: 65%;
  padding: 60px 0;
}
.firstScreen_left_finance h1 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: none;
}
.firstScreen_left_finance h1 span {
  font-size: 40px;
  text-transform: none;
  line-height: 1.5;
}

.properties {
  display: flex;
  padding-top: 30px;
}
.properties__item {
  display: block;
  margin-right: 20px;
}
.properties__item:last-child {
  margin-right: 0;
}
.properties__item img {
  max-width: 80px;
  margin-bottom: 10px;
}
.properties__item p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #004488;
}

.implementation__title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
  line-height: 60px;
  margin-bottom: 20px;
}
.implementation__title span {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

.listWithCheck {
  margin-bottom: 20px;
}
.listWithCheck li {
  vertical-align: middle;
  margin-bottom: 10px;
}
.listWithCheck li:before {
  content: url("../images/icons/finance/check.png");
  vertical-align: middle;
  margin-right: 20px;
}

.implementation__items {
  display: flex;
}
.implementation__item {
  padding: 30px;
  position: relative;
  width: 25%;
  border: 2px solid #004488;
  border-right: none;
  text-align: center;
  overflow: hidden;
}
.implementation__item:last-child {
  border-right: 2px solid #004488;
}
.implementation__item_noHover {
  background: transparent;
}
.implementation__item_noHover__title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
  max-height: 54px;
  overflow: hidden;
}
.implementation__item_hover {
  padding: 30px 20px;
  background: #004488;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.implementation__item_hover__title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  max-height: 54px;
  overflow: hidden;
}
.implementation__item_hover p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 1.2;
  max-height: 76px;
  overflow: hidden;
}
.implementation__item:hover .implementation__item_hover {
  top: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.module__desc {
  background: #d3f0ff;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.module__desc p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}
.module_bottom {
  display: flex;
  justify-content: space-between;
}
.module_bottom_half {
  width: 48%;
}
.module_bottom_half p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
  margin-bottom: 20px;
}
.module_bottom_half__title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

/**
 * CONTROL PAGE
 * */
.accordion__item:last-child .accordion__desc {
  border-top: none;
  border-bottom: 1px solid #179bd7;
}
.accordion__item:last-child .accordion__title {
  border-bottom: 1px solid #179bd7;
}
.accordion__title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
  border: 1px solid #179bd7;
  border-bottom: none;
  display: block;
  height: 50px;
  background: #d3f0ff;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.accordion__title.active:after {
  transform: rotate(180deg);
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.accordion__title:after {
  content: url(../images/icons/arrow-down.png);
  position: absolute;
  right: 30px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.accordion__desc {
  display: none;
  font-size: 0;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #179bd7;
  border-bottom: none;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
}

.blockItems__item__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.feedbackForm_top li input, .feedbackForm_bottom__textarea textarea, .footer_top__form input {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #004488;
  width: 100%;
  border: none;
  padding: 15px 20px;
}
.feedbackForm_top li input::placeholder, .feedbackForm_bottom__textarea textarea::placeholder, .footer_top__form input::placeholder {
  color: #179bd7;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

@media only screen and (max-width: 1200px) {
  .header__contacts {
    display: block;
  }

  .callback {
    margin: 0;
    text-align: center;
  }

  .blockItems__item__hover__content {
    padding: 70px 20px 20px 70px;
  }

  .firstScreen_left_finance h1 {
    font-size: 28px;
  }

  .properties {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper_noPadding {
    padding: 0;
  }

  .header__nav {
    display: none;
  }
  .header__contacts {
    margin-right: 100px;
    display: flex;
  }

  .callback {
    margin-left: 20px;
  }

  .firstScreen_left h1, .firstScreen_left h1 span {
    font-size: 35px;
  }
  .firstScreen_left p {
    font-size: 18px;
  }

  .blockTitle {
    font-size: 35px;
  }

  .innerTitle {
    font-size: 25px;
  }

  .blockItems__item__hover__content__title, .blockItems__item__bg__title {
    font-size: 20px;
  }
  .blockItems__item__hover__content__text {
    max-height: 74px;
  }

  .footer__logo {
    display: none;
  }
  .footer_top__text, .footer_top__form {
    width: 50%;
  }
  .footer_top__text {
    padding-right: 40px;
  }
  .footer_bottom_left__contacts {
    width: 50%;
  }
  .footer_bottom_left__contacts_top__text {
    font-size: 16px;
  }
  .footer_bottom_left__contacts {
    flex-wrap: wrap;
  }

  .firstScreen_left_finance {
    text-align: center;
    width: 100%;
  }
  .firstScreen_left_finance h1 {
    font-size: 25px;
    line-height: 1.5;
  }
  .firstScreen img {
    display: none;
  }

  .implementation__items {
    flex-wrap: wrap;
  }
  .implementation__item {
    width: 50%;
  }
  .implementation__item:nth-child(even) {
    border-right: 2px solid #004488;
  }
  .implementation__item:nth-child(1), .implementation__item:nth-child(2) {
    border-bottom: none;
  }
}
@media only screen and (max-width: 900px) {
  .blockItems__item {
    width: 49.5%;
    max-height: none;
  }
}
@media only screen and (max-width: 767px) {
  .header__contacts {
    display: block;
  }

  .callback {
    margin: 0;
  }

  .s_firstScreen, .s_services, .s_solutions, .s_why, .s_feedbackForm, .tags, .s_properties, .s_implementation, .s_module {
    margin-bottom: 40px;
  }

  .firstScreen_left {
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .firstScreen__bg {
    margin-bottom: 0;
  }
  .firstScreen img {
    display: none;
  }

  .services {
    padding-top: 0;
  }

  .solutions_left {
    width: 100%;
    padding-right: 0;
  }
  .solutions_left__desc {
    width: 100%;
    padding: 25px;
  }
  .solutions_right {
    display: none;
  }

  .descItems__item {
    width: 100%;
  }
  .descItems__item:nth-child(odd) {
    margin-right: 0;
  }

  .feedbackForm_bottom__textarea {
    width: 75%;
  }
  .feedbackForm_bottom__btn {
    width: 23%;
  }

  .footer_top__container {
    flex-wrap: wrap;
  }
  .footer_top__text, .footer_top__form {
    width: 100%;
  }
  .footer_top__text {
    margin-bottom: 20px;
    padding: 0;
  }
  .footer_bottom_left__contacts_top {
    flex-wrap: wrap;
  }
  .footer_bottom_left__contacts_top img {
    margin-bottom: 20px;
  }

  .properties {
    display: block;
    padding: 0;
  }
  .properties__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .properties__item:last-child {
    margin-bottom: 0;
  }
  .properties__item p {
    padding-left: 20px;
  }

  .module_bottom {
    display: block;
  }
  .module_bottom_half {
    width: 100%;
  }
  .module_bottom_half:first-child {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .header__contacts {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .header__container {
    display: block;
    padding-bottom: 10px;
  }

  .logo {
    width: 100%;
    margin-bottom: 5px;
  }

  .header__contacts {
    margin: 0 auto;
  }
  .header__phone, .header .callback {
    margin: 0 auto 5px;
    text-align: center;
  }

  .s_firstScreen, .s_services, .s_solutions, .s_why, .s_feedbackForm, .tags, .s_properties, .s_implementation, .s_module {
    margin-bottom: 20px;
  }

  .firstScreen_left {
    padding: 20px 0;
  }
  .firstScreen_left h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .firstScreen_left h1 span {
    font-size: 25px;
  }
  .firstScreen_left p {
    font-size: 16px;
  }

  .blockTitle {
    font-size: 25px;
  }

  .innerTitle {
    font-size: 20px;
  }

  .blockItems__item {
    width: 100%;
  }
  .blockItems__item__bg, .blockItems__item__arrow {
    display: none;
  }
  .blockItems__item__hover {
    top: 0;
  }
  .blockItems__item__hover__content {
    padding: 20px;
    opacity: 1;
  }
  .blockItems__item__hover__content__arrow {
    display: none;
  }

  .tags__item a {
    font-size: 16px;
  }

  .feedbackForm_top {
    margin-bottom: 10px;
  }
  .feedbackForm_top ul {
    flex-wrap: wrap;
  }
  .feedbackForm_top li {
    width: 100%;
  }
  .feedbackForm_top li:first-child {
    margin: 0 0 10px 0;
  }
  .feedbackForm_bottom ul {
    flex-wrap: wrap;
  }
  .feedbackForm_bottom__textarea {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .feedbackForm_bottom__btn {
    width: 100%;
  }
  .feedbackForm_bottom__btn button {
    height: 40px;
  }
  .feedbackForm_bottom__btn button img {
    display: none;
  }
  .feedbackForm_bottom__checkbox label, .feedbackForm_bottom__checkbox label a {
    font-size: 16px;
  }

  .footer_top__text {
    font-size: 16px;
    text-align: center;
  }
  .footer_top__form ul {
    flex-wrap: wrap;
  }
  .footer_top__form li:first-child, .footer_top__form li:last-child {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .footer_bottom {
    padding-bottom: 10px;
  }
  .footer_bottom_left {
    display: block;
  }
  .footer_bottom_left__contacts {
    width: 100%;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
  }
  .footer_bottom_left__nav {
    margin: 0 0 20px;
  }
  .footer_bottom_right {
    position: static;
  }

  .blockTitle span {
    font-size: 22px;
  }

  .firstScreen_left_finance h1 {
    font-size: 20px;
  }
  .firstScreen_left_finance h1 span {
    font-size: 20px;
  }

  .implementation__item {
    width: 100%;
    border-right: 2px solid #004488;
    border-bottom: none;
  }
  .implementation__item:last-child {
    border-bottom: 2px solid #004488;
  }
}

/*# sourceMappingURL=responsive.css.map */
