.blockItems__item__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer_top__form input, .feedbackForm_bottom__textarea textarea, .feedbackForm_top li input {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #004488;
  width: 100%;
  border: none;
  padding: 15px 20px;
}
.footer_top__form input::placeholder, .feedbackForm_bottom__textarea textarea::placeholder, .feedbackForm_top li input::placeholder {
  color: #179bd7;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}

/* HEADER
 * */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
}
.header__nav a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto - Medium", sans-serif;
  color: #231f20;
  padding: 5px 15px;
}
.header__phone {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
}
.header__phone span {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  line-height: 24px;
}

.logo {
  max-width: 160px;
}
.logo a {
  display: inline-block;
}

.callback a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  text-decoration: underline;
}

/* MAIN PAGE
 * */
.firstScreen__bg {
  margin-bottom: 100px;
  background: #d3f0ff;
}

.firstScreen {
  position: relative;
}
.firstScreen_left {
  width: 50%;
  padding: 80px 0;
}
.firstScreen_left h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #179bd7;
  margin-bottom: 30px;
}
.firstScreen_left h1 span {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto - Black", sans-serif;
  color: #004488;
  text-transform: uppercase;
}
.firstScreen_left p {
  font-size: 20px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #179bd7;
  line-height: 1.2;
}
.firstScreen img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.s_services, .s_solutions, .s_why, .s_feedbackForm {
  margin-bottom: 100px;
}

.s_services {
  z-index: 1;
  position: relative;
}

.services {
  padding-top: 30px;
}

.blockTitle {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #004488;
  line-height: 1.3;
}

.blockItems {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: space-between;
}
.blockItems__item {
  width: 33%;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.blockItems__item img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.blockItems__item__bg {
  background-color: rgba(12, 36, 83, 0.75);
  z-index: 2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__bg__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #ffffff;
  position: absolute;
  bottom: 70px;
  left: 70px;
  right: 70px;
  z-index: 3;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.blockItems__item__arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: #f15e22;
  width: 70px;
  height: 70px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__arrow img {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.blockItems__item__hover {
  background-color: rgba(0, 92, 163, 0.7);
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__hover__content {
  z-index: 3;
  padding: 70px;
  opacity: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__hover__content__arrow {
  position: absolute;
  top: 0;
  left: -70px;
  z-index: 3;
  background: #f15e22;
  width: 70px;
  height: 70px;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item__hover__content__arrow img {
  width: 25px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.blockItems__item__hover__content__title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}
.blockItems__item__hover__content__text {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}
.blockItems__item__hover__content__link {
  font-size: 18px;
  font-weight: 900;
  font-family: "Roboto - Black", sans-serif;
  color: #f15e22;
  text-decoration: none;
  display: inline-block;
}

.blockItems__item:hover .blockItems__item__bg {
  bottom: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item:hover .blockItems__item__bg__title {
  opacity: 0;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.blockItems__item:hover .blockItems__item__hover {
  top: 0;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.blockItems__item:hover .blockItems__item__hover__content {
  opacity: 1;
}
.blockItems__item:hover .blockItems__item__hover__content__arrow {
  left: 0;
  z-index: 3;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -webkit-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.blockItems__item:hover .blockItems__item__arrow {
  bottom: 100%;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.solutions__container {
  display: flex;
}
.solutions p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
  margin-bottom: 30px;
}
.solutions_left {
  padding-right: 35px;
  width: 70%;
}
.solutions_left a {
  margin-bottom: 30px;
}
.solutions_left__desc {
  background: #d3f0ff;
  width: 122%;
  padding: 25px 20% 25px 25px;
}
.solutions_left__desc p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  margin-bottom: 0;
}
.solutions_right {
  width: 30%;
  position: relative;
}
.solutions_right img {
  position: absolute;
  bottom: -20px;
  right: 0;
}

.tags {
  margin-bottom: 100px;
}
.tags ul {
  display: flex;
  flex-wrap: wrap;
}
.tags__item a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  padding: 10px 15px;
  background: #d3f0ff;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.tags .active a {
  background: #f15e22;
  color: #ffffff;
}

.innerTitle {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  margin-bottom: 30px;
}

.btnOrange {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto - Bold", sans-serif;
  color: #f15e22;
  border: 2px solid #f15e22;
  padding: 10px 20px;
  display: inline-block;
}

.descItems {
  display: flex;
  flex-wrap: wrap;
}
.descItems__item {
  width: 48%;
  align-items: center;
  display: flex;
}
.descItems__item:nth-child(odd) {
  margin-right: 4%;
}
.descItems__item__img {
  width: 15%;
  margin-right: 5%;
}
.descItems__item__text {
  width: 80%;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #231f20;
}

.feedbackForm_top {
  margin-bottom: 20px;
}
.feedbackForm_top ul {
  display: flex;
}
.feedbackForm_top li {
  width: 49%;
}
.feedbackForm_top li:first-child {
  margin-right: 2%;
}
.feedbackForm_top li input {
  background: #d3f0ff;
}
.feedbackForm_bottom ul {
  display: flex;
  margin-bottom: 20px;
}
.feedbackForm_bottom__textarea {
  width: 85%;
  margin-right: 2%;
}
.feedbackForm_bottom__textarea textarea {
  background: #d3f0ff;
  resize: none;
  height: 120px;
  margin-right: 2%;
}
.feedbackForm_bottom__btn {
  width: 13%;
}
.feedbackForm_bottom__btn button {
  background: #f15e22;
  border: none;
  height: 120px;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.feedbackForm_bottom__btn button:hover {
  cursor: pointer;
}
.feedbackForm_bottom__btn button img {
  display: block;
  margin: 0 auto 15px;
}
.feedbackForm_bottom__checkbox label {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
}
.feedbackForm_bottom__checkbox label a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #179bd7;
  text-decoration: underline;
}
.feedbackForm_bottom__checkbox input {
  width: 20px;
  height: 20px;
}

/* FOOTER
 * */
.footer__wrapper {
  position: relative;
}
.footer__logo {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: contain;
  object-fit: contain;
}
.footer_top {
  background: #004488;
  padding: 33px 0;
  min-height: 121px;
}
.footer_top__container {
  display: flex;
  align-items: center;
}
.footer_top__text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  width: 40%;
  padding-right: 100px;
}
.footer_top__form {
  width: 40%;
}
.footer_top__form ul {
  display: flex;
}
.footer_top__form li:first-child {
  width: 68%;
  margin-right: 2%;
}
.footer_top__form li:last-child {
  width: 30%;
}
.footer_top__form input {
  width: 100%;
}
.footer_top__form input[type=email] {
  border: 2px solid #ffffff;
  background: #ffffff;
}
.footer_top__form input[type=submit] {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.footer_bottom {
  background: #179bd7;
  padding: 30px 0;
  min-height: 241px;
}
.footer_bottom_left {
  display: flex;
  align-items: center;
}
.footer_bottom_left__contacts {
  width: 40%;
  padding-right: 20px;
  border-right: 1px solid #ffffff;
}
.footer_bottom_left__contacts_top {
  align-items: flex-end;
  display: flex;
  margin-bottom: 30px;
}
.footer_bottom_left__contacts_top img {
  padding-right: 30px;
}
.footer_bottom_left__contacts_top__text {
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.footer_bottom_left__contacts__item {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
  margin-bottom: 15px;
}
.footer_bottom_left__contacts__item i {
  padding-right: 15px;
}
.footer_bottom_left__contacts__item a {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto - Regular", sans-serif;
  color: #ffffff;
}
.footer_bottom_left__nav {
  margin-left: 40px;
}
.footer_bottom_left__nav li {
  margin-bottom: 20px;
}
.footer_bottom_left__nav li:last-child {
  margin-bottom: 0;
}
.footer_bottom_left__nav a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-decoration: underline;
  display: inline-block;
}
.footer_bottom_right {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #d3f0ff;
}

/*# sourceMappingURL=style.css.map */
